<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.animal.api.admin.board.mapper.AdminBoardMapper">
<select id="checkBoardType" parameterType="int" resultType="Integer">
SELECT
	BOARD_TYPE_IDX
FROM
	BOARDS
WHERE
	IDX = #{idx}
</select>
<update id="updateNotice" parameterType="com.animal.api.admin.board.model.request.NoticeUpdateRequestDTO">
UPDATE
	BOARDS
SET
	TITLE = #{title},
	CONTENT = #{content}
WHERE IDX = #{idx}
</update>
<delete id="deleteNotice" parameterType="int">
DELETE
FROM
	BOARDS
WHERE
	IDX = #{idx}
</delete>
</mapper>