<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.animal.api.email.mapper.CertificationMapper">

    <insert id="insertCertification">
        INSERT INTO CERTIFICATIONS (
            USER_IDX, TOKEN, EXPIRES_AT, USED
        ) VALUES (
            #{userIdx}, #{token}, #{expiresAt}, #{used}
        )
    </insert>
    
	<resultMap id="CertificationResultMap" type="com.animal.api.email.model.vo.CertificationVO">
	    <id property="idx" column="IDX"/>
	    <result property="userIdx" column="USER_IDX"/>
	    <result property="token" column="TOKEN"/>
	    <result property="expiresAt" column="EXPIRES_AT"/>
	    <result property="used" column="USED"/>
	    <result property="createdAt" column="CREATED_AT"/>
	</resultMap>

	<select id="findLatestValidByEmail" resultMap="CertificationResultMap">
	    SELECT C.*
	    FROM CERTIFICATIONS C
	    JOIN USERS U ON U.IDX = C.USER_IDX
	    WHERE LOWER(U.EMAIL) = LOWER(#{email})
	      AND C.EXPIRES_AT > CURRENT_TIMESTAMP
	      AND C.USED = 0
	    ORDER BY C.CREATED_AT DESC
	    LIMIT 1
	</select>

    <update id="markAsUsed">
        UPDATE CERTIFICATIONS
        SET USED = 1
        WHERE IDX = #{idx}
    </update>
    
    <select id="findLatestUsedByEmail" resultMap="CertificationResultMap">
	    SELECT C.*
	    FROM CERTIFICATIONS C
	    JOIN USERS U ON U.IDX = C.USER_IDX
	    WHERE LOWER(U.EMAIL) = LOWER(#{email})
	      AND C.USED = 1
	    ORDER BY C.CREATED_AT DESC
	    LIMIT 1
	</select>

</mapper>
