<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- 🔹 콘솔에 SQL 로그 출력 -->
	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC" />
			<dataSource type="UNPOOLED">
				<property name="driver" value="dummy" />
				<property name="url" value="dummy" />
				<property name="username" value="dummy" />
				<property name="password" value="dummy" />
			</dataSource>
		</environment>
	</environments>

</configuration>