<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.animal.api.mypage.information.verify.mapper.PasswordVerifyMapper">
	<!-- 내 정보 수정 비밀번호 확인 -->
	<select id="selectEncryptedPassword" resultType="String">
		SELECT PASSWORD AS password
		FROM USERS
		WHERE IDX = #{userIdx}
	</select>
	
</mapper>