<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.animal.api.mypage.information.modify.mapper.InformationModifyMapper">

	<select id="passwordCheck" parameterType="String">
		SELECT ID AS userid, PASSWORD AS password
		FORM USERS
		WHERE ID = #{userid}
	 	  AND PASSWORD = #{password}
	</select>

</mapper>