<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.animal.api.auth.mapper.AuthMapper">
	<select id="login"
		parameterType="com.animal.api.model.request.LoginRequestDTO"
		resultType="com.animal.api.model.response.LoginResponseDTO">
		SELECT * 
		FROM USERS 
		WHERE ID = #{userId}
			  
	</select>
<!-- 유저정보 전체 조회 -->
<select id="findUserById" resultType="com.animal.api.auth.model.vo.UserVO">
    SELECT 
        U.USER_IDX,
        U.USER_TYPE_IDX,
        UT.NAME AS USER_TYPE_NAME,

        U.ID,
        U.EMAIL,
        U.PASSWORD,
        U.NAME,
        U.NICKNAME,
        U.BIRTH_DATE,
        U.GENDER,
        U.TEL,
        U.ZIP_CODE,
        U.ADDRESS,
        U.ADDRESS_DETAIL,
        U.POINT,
        U.CREATED_AT,
        U.UPDATED_AT,
        U.LAST_LOGIN_AT,
        U.WITHDRAWN_AT,
        U.STATUS,
        U.LOCKED,
        U.LOCK_COUNT,
        U.LOCKED_AT

    FROM USERS U
    JOIN USER_TYPES UT ON U.USER_TYPE_IDX = UT.IDX
    WHERE U.ID = #{id}
</select>

<!-- 보호소 추가 조회 쿼리 -->
<select id="findShelterByUserIdx" resultType="com.animal.api.auth.model.vo.ShelterVO">
    SELECT
        S.USER_IDX,
        S.SHELTER_TYPE_IDX,
        ST.NAME AS SHELTER_TYPE_NAME,

        S.SHELTER_TEL,
        S.SHELTER_NAME,
        S.SHELTER_PERSON_NAME,
        S.SHELTER_ZIP_CODE,
        S.SHELTER_ADDRESS,
        S.SHELTER_ADDRESS_DETAIL,
        S.SHELTER_EMAIL,
        S.SHELTER_DESCRIPTION,
        S.SHELTER_BUSINESS_NUMBER,
        S.SHELTER_BUSINESS_FILE

    FROM SHELTERS S
    JOIN SHELTER_TYPES ST ON S.SHELTER_TYPE_IDX = ST.IDX
    WHERE S.USER_IDX = #{userIdx}
</select>
	
	
<update id="updateLastLoginAt">
    UPDATE USERS
    SET LAST_LOGIN_AT = NOW()
    WHERE USER_IDX = #{userIdx}
</update>
</mapper>