<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.animal.api.management.animal.mapper.ShelterAnimalsMapper">
<select id="getShelterProfile" parameterType="int" resultType="com.animal.api.management.animal.model.response.AnimalAddShelterInfoResponseDTO">
SELECT
	S.USER_IDX,
	ST.NAME AS 'SHELTER_TYPE',
	S.SHELTER_ZIP_CODE,
	S.SHELTER_ADDRESS,
	S.SHELTER_ADDRESS_DETAIL,
	S.SHELTER_TEL,
	S.SHELTER_EMAIL,
	S.SHELTER_PERSON_NAME
FROM
	SHELTERS S
JOIN SHELTER_TYPES ST 
	ON
	S.SHELTER_TYPE_IDX = ST.IDX
WHERE 
	S.USER_IDX = #{idx}
</select>
<insert id="insertAnimal" parameterType="com.animal.api.management.animal.model.request.AnimalInsertRequestDTO">
INSERT
	INTO
	ANIMALS (USER_IDX,
	ADOPTION_STATUS_IDX,
	ANIMAL_BREED_IDX,
	ANIMAL_PERSONALITY_IDX,
	NAME,
	GENDER,
	AGE,
	SIZE,
	NEUTER,
	DESCRIPTION)
VALUES (
#{userIdx},
#{adoptionStatusIdx},
#{animalBreedIdx},
#{animalPersonalityIdx},
#{name},
#{gender},
#{age},
#{size},
#{neuter},
#{description}
    )
</insert>
<update id="updateAnimal" parameterType="com.animal.api.management.animal.model.request.AnimalUpdateRequestDTO">
UPDATE
	ANIMALS
SET
	ADOPTION_STATUS_IDX = #{adoptionStatusIdx},
	ANIMAL_BREED_IDX = #{animalBreedIdx},
	ANIMAL_PERSONALITY_IDX = #{animalPersonalityIdx},
	NAME = #{name},
	GENDER = #{gender},
	AGE = #{age},
	SIZE = #{size},
	NEUTER = #{neuter},
	DESCRIPTION = #{description}
WHERE
	IDX = #{idx};
</update>
</mapper>
