<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.animal.api.animal.mapper.UserAnimalMapper">
<select id="getAllAnimals" parameterType="Map" resultType="com.animal.api.animal.model.response.AllAnimalListResponseDTO">
SELECT
	A.IDX,
	A.NAME,
	A.GENDER,
	A.AGE,
	A.`SIZE`,
	A.NEUTER,
	A.CREATED_AT,
	AB2.NAME AS 'BREED',
	AB2.ANIMAL_TYPE AS 'TYPE',
	AP.NAME AS 'PERSONALITY',
	AS2.NAME AS 'ADOPTION_STATUS'
FROM
	ANIMALS A
JOIN (
	SELECT
		AB.IDX,
		AB.NAME,
		AT2.NAME AS 'ANIMAL_TYPE'
	FROM
		ANIMAL_BREEDS AB
	JOIN ANIMAL_TYPES AT2
	ON
		AB.ANIMAL_TYPE_IDX = AT2.IDX) AB2
	ON
	A.ANIMAL_BREED_IDX = AB2.IDX
JOIN ANIMAL_PERSONALITIES AP
	ON
	A.ANIMAL_PERSONALITY_IDX = AP.IDX
JOIN ADOPTION_STATUS AS2
	ON
	A.ADOPTION_STATUS_IDX = AS2.IDX
ORDER BY A.IDX DESC
LIMIT #{listSize} OFFSET #{cp}
</select>
<select id="getAllAnimalsTotalCnt" resultType="int">
SELECT
	COUNT(*)
FROM
	ANIMALS
</select>
<select id="searchAnimals" parameterType="com.animal.api.animal.model.request.SearchConditionsRequestDTO" resultType="com.animal.api.animal.model.response.AllAnimalListResponseDTO">
SELECT
	A.IDX,
	A.NAME,
	A.GENDER,
	A.AGE,
	A.`SIZE`,
	A.NEUTER,
	A.CREATED_AT,
	AB.NAME AS 'BREED',
	AT2.NAME AS 'TYPE',
	AP.NAME AS 'PERSONALITY',
	AS2.NAME AS 'ADOPTION_STATUS'
FROM
	ANIMALS A
JOIN ANIMAL_BREEDS AB
	ON
	A.ANIMAL_BREED_IDX = AB.IDX
JOIN ANIMAL_TYPES AT2 
	ON
	AB.ANIMAL_TYPE_IDX = AT2.IDX
JOIN ANIMAL_PERSONALITIES AP
	ON
	A.ANIMAL_PERSONALITY_IDX = AP.IDX
JOIN ADOPTION_STATUS AS2
	ON
	A.ADOPTION_STATUS_IDX = AS2.IDX
<where>
	<if test="type != null and type != ''">
		AND AT2.NAME = #{type}
	</if>
	<if test="breed != null and breed != ''">
		AND AB.NAME = #{breed}
	</if>
	<if test="gender != null and gender != ''">
		AND A.GENDER = #{gender}
	</if>
	<if test="neuter != 0">
		AND A.NEUTER = #{neuter}
	</if>
	<if test="age != 0">
		AND A.AGE = #{age}
	</if>
	<if test="adoptionStatus != null and adoptionStatus != ''">
		AND AS2.NAME = #{adoptionStatus}
	</if>
	<if test="personality != null and personality != ''">
		AND AP.NAME = #{personality}
	</if>
	<if test="size != 0">
		AND A.`SIZE` = #{size}
	</if>
	<if test="name != null and name != ''">
		AND A.NAME LIKE '%${name}%'
	</if>
</where>
ORDER BY A.IDX DESC
LIMIT #{listSize} OFFSET #{cp}
</select>
<select id="searchAnimalsTotalCnt" parameterType="com.animal.api.animal.model.request.SearchConditionsRequestDTO" resultType="int">
SELECT
	COUNT(*)
FROM
	ANIMALS A
JOIN ANIMAL_BREEDS AB
	ON
	A.ANIMAL_BREED_IDX = AB.IDX
JOIN ANIMAL_TYPES AT2 
	ON
	AB.ANIMAL_TYPE_IDX = AT2.IDX
JOIN ANIMAL_PERSONALITIES AP
	ON
	A.ANIMAL_PERSONALITY_IDX = AP.IDX
JOIN ADOPTION_STATUS AS2
	ON
	A.ADOPTION_STATUS_IDX = AS2.IDX
<where>
	<if test="type != null and type != ''">
		AND AT2.NAME = #{type}
	</if>
	<if test="breed != null and breed != ''">
		AND AB.NAME = #{breed}
	</if>
	<if test="gender != null and gender != ''">
		AND A.GENDER = #{gender}
	</if>
	<if test="neuter != 0">
		AND A.NEUTER = #{neuter}
	</if>
	<if test="age != 0">
		AND A.AGE = #{age}
	</if>
	<if test="adoptionStatus != null and adoptionStatus != ''">
		AND AS2.NAME = #{adoptionStatus}
	</if>
	<if test="personality != null and personality != ''">
		AND AP.NAME = #{personality}
	</if>
	<if test="size != 0">
		AND A.`SIZE` = #{size}
	</if>
	<if test="name != null and name != ''">
		AND A.NAME LIKE '%${name}%'
	</if>
</where>
</select>
<select id="getAnimalDetail" parameterType="int" resultType="com.animal.api.animal.model.response.AnimalDetailResponseDTO">
SELECT
	A.IDX,
	S.USER_IDX,
	A.NAME,
	A.GENDER,
	A.AGE,
	A.`SIZE`,
	A.NEUTER,
	A.CREATED_AT,
	A.DESCRIPTION,
	AB.NAME AS 'BREED',
	AB.IDX AS 'BREED_IDX',
	AT2.NAME AS 'TYPE',
	AT2.IDX AS 'TYPE_IDX',
	AP.NAME AS 'PERSONALITY',
	AP.IDX AS 'PERSONALITY_IDX',
	AS2.NAME AS 'ADOPTION_STATUS',
	AS2.IDX AS 'ADOPTION_STATUS_IDX',
	S.SHELTER_NAME,
	S.SHELTER_PERSON_NAME,
	S.SHELTER_TEL,
	S.SHELTER_ZIP_CODE,
	S.SHELTER_ADDRESS,
	S.SHELTER_ADDRESS_DETAIL
FROM
	ANIMALS A
JOIN ANIMAL_BREEDS AB
	ON
	A.ANIMAL_BREED_IDX = AB.IDX
JOIN ANIMAL_TYPES AT2
	ON
	AB.ANIMAL_TYPE_IDX = AT2.IDX
JOIN ANIMAL_PERSONALITIES AP
	ON
	A.ANIMAL_PERSONALITY_IDX = AP.IDX
JOIN ADOPTION_STATUS AS2
	ON
	A.ADOPTION_STATUS_IDX = AS2.IDX
JOIN SHELTERS S 
	ON
	A.USER_IDX = S.USER_IDX
WHERE
	A.IDX = #{idx}
</select>
<select id="getAdoptionInfo" parameterType="int" resultType="com.animal.api.animal.model.response.AdoptionAnimalResponseDTO">
SELECT
	A.IDX,
	A.NAME,
	A.GENDER,
	A.AGE,
	A.`SIZE`,
	A.NEUTER,
	A.CREATED_AT,
	AB.NAME AS 'BREED',
	AT2.NAME AS 'TYPE',
	AP.NAME AS 'PERSONALITY',
	AS2.IDX AS 'ADOPTION_STATUS_IDX',
	S.SHELTER_NAME
FROM
	ANIMALS A
JOIN ANIMAL_BREEDS AB
	ON
	A.ANIMAL_BREED_IDX = AB.IDX
JOIN ANIMAL_TYPES AT2
	ON
	AB.ANIMAL_TYPE_IDX = AT2.IDX
JOIN ANIMAL_PERSONALITIES AP
	ON
	A.ANIMAL_PERSONALITY_IDX = AP.IDX
JOIN ADOPTION_STATUS AS2
	ON
	A.ADOPTION_STATUS_IDX = AS2.IDX
JOIN SHELTERS S 
	ON
	A.USER_IDX = S.USER_IDX
WHERE
	A.IDX = #{idx}
</select>
<select id="checkAdoptionStatus" parameterType="int" resultType="Integer">
SELECT
	ADOPTION_STATUS_IDX
FROM
	ANIMALS
WHERE
	IDX = #{idx}
</select>
<select id="checkDuplicateUser" parameterType="Map" resultType="Integer">
SELECT
	IDX
FROM
	ADOPTION_CONSULTS
WHERE
	USER_IDX = #{userIdx}
	AND ANIMAL_IDX = #{animalIdx}
</select>
<insert id="submitAdoption" parameterType="com.animal.api.animal.model.request.AdoptionSubmitReqestDTO">
INSERT
	INTO
	ADOPTION_CONSULTS (
		USER_IDX,
		ANIMAL_IDX,
		NAME,
		EMAIL,
		TEL,
		ZIP_CODE,
		ADDRESS,
		ADDRESS_DETAIL,
		HAS_PET,
		CONSULTED_AT,
		DESCRIPTION
	)
VALUES (
	#{userIdx}, #{animalIdx}, #{name}, #{email}, #{tel}, #{zipCode}, #{address}, #{addressDetail}, #{hasPet}, #{consultedAt}, #{description}
)
</insert>
</mapper>