<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.animal.api.support.mapper.UserSupportMapper">

<select id="getAllNotice" resultType="com.animal.api.support.model.response.UserNoticeResponseDTO">
SELECT 
	IDX,
	USER_IDX,
	BOARD_TYPE_IDX,
	TITLE,
	CONTENT,
	CREATED_AT,
	VIEWS,
	REF,
	LEV,
	TURN
FROM
	BOARDS
WHERE
	BOARD_TYPE_IDX = 1
ORDER BY
	IDX DESC
LIMIT
#{listSize} OFFSET #{cp}
</select>

<select id = "getAllNoticeTotalCnt" resultType="int">
SELECT
	COUNT(*)
FROM
	BOARDS
WHERE
	BOARD_TYPE_IDX = 1
	
</select>

<select id="getNoticeDetail" parameterType="int" resultType="com.animal.api.support.model.response.UserNoticeResponseDTO">
SELECT 
	IDX,
	USER_IDX,
	BOARD_TYPE_IDX,
	TITLE,
	CONTENT,
	CREATED_AT,
	VIEWS,
	REF,
	LEV,
	TURN
FROM
	BOARDS
WHERE
	BOARD_TYPE_IDX = 1
	AND IDX = #{idx}
</select>

<select id="searchAllNotice" parameterType="map" resultType="com.animal.api.support.model.response.UserNoticeResponseDTO">
SELECT
	IDX,
	USER_IDX,
	BOARD_TYPE_IDX,
	TITLE,
	CONTENT,
	CREATED_AT,
	VIEWS,
	REF,
	LEV,
	TURN
FROM
	BOARDS
<where>
<if test = "title != null and title!= ''">
	AND TITLE LIKE CONCAT('%', #{title}, '%')
</if>
<if test = "true">
	AND BOARD_TYPE_IDX = 1
</if>
</where>
ORDER BY
	IDX DESC
LIMIT
#{listSize} OFFSET #{cp}
</select>

<select id="getSearchNoticeTotalCnt" parameterType="com.animal.api.support.model.request.SearchNoticeRequestDTO" resultType="int">
SELECT
	COUNT(*)
FROM
	BOARDS
<where>
<if test = "title != null and title!= ''">
	AND TITLE LIKE CONCAT('%', #{title}, '%')
</if>
<if test = "true">
	AND BOARD_TYPE_IDX = 1
</if>
</where>
</select>

<update id="updateNoticeViews" parameterType="int">
UPDATE
	BOARDS
SET
	VIEWS = VIEWS + 1
WHERE
	IDX = #{idx}
</update>



</mapper>