<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.animal.api.support.mapper.UserSupportMapper">

	<select id="getAllNotice" resultType="com.animal.api.support.model.response.UserNoticeResponseDTO">
		SELECT
			IDX,
			USER_IDX,
			BOARD_TYPE_IDX,
			TITLE,
			CONTENT,
			CREATED_AT,
			VIEWS,
			REF,
			LEV,
			TURN
			FROM BOARDS
		WHERE BOARD_TYPE_IDX = 1
		ORDER BY CREATED_AT DESC
		LIMIT #{listSize} OFFSET #{cp}
	</select>
	
	<select id ="getNoticeDetail" parameterType="int" resultType="com.animal.api.support.model.response.UserNoticeResponseDTO">
		SELECT 
			IDX,
			USER_IDX,
			BOARD_TYPE_IDX,
			TITLE,
			CONTENT,
			CREATED_AT,
			VIEWS,
			REF,
			LEV,
			TURN
		FROM BOARDS
		WHERE BOARD_TYPE_IDX = #{boardTypeIdx}
		AND IDX = ${idx}
	</select>
	

</mapper>