<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.animal.api.admin.donation.mapper.AdminDonationMapper">

<select id="getAdminDonationList" parameterType="Map" resultType="com.animal.api.admin.donation.model.response.AdminAllDonationResponseDTO">
SELECT
	D.IDX,
	D.NAME,
	DS.NAME AS status,
	D.COMPLETION_AMOUNT AS completionAmount,
	D.AMOUNT,
	D.COMPLETION_RATE AS completionRate,
	D.START_DATE,
	D.END_DATE
FROM
	DONATIONS D
JOIN DONATION_STATUS DS ON
	D.IDX = DS.IDX
ORDER BY
	D.IDX DESC
LIMIT #{listSize} OFFSET #{cp}
</select>

<select id="searchAdminDonation" parameterType="com.animal.api.admin.donation.model.request.AdminDonationSearchRequestDTO" resultType="com.animal.api.admin.donation.model.response.AdminAllDonationResponseDTO">
SELECT
	D.IDX,
	D.NAME AS name,
	DS.NAME AS status,
	D.COMPLETION_AMOUNT,
	D.AMOUNT,
	D.COMPLETION_RATE,
	D.START_DATE,
	D.END_DATE
FROM
	DONATIONS D
JOIN DONATION_STATUS DS ON
	D.IDX = DS.IDX
<where>
	<if test = "name != null and name !=''">
	AND D.NAME LIKE '%${name}%'
	</if>
	<if test = "status != null and status !=''">
	AND DS.NAME = #{status}
	</if>
</where>
ORDER BY
	D.IDX DESC
LIMIT #{listSize} OFFSET #{cp}
</select>

<select id="getAdminDonationDetail" parameterType="int" resultType="com.animal.api.admin.donation.model.response.AdminAllDonationResponseDTO">
SELECT
	D.IDX,
	D.NAME,
	D.START_DATE,
	D.END_DATE,
	D.AMOUNT, 
	D.COMPLETION_AMOUNT, <!--누적금액-->
	D.COMPLETION_RATE, <!--달성률-->
	D.SPONSOR, <!--모금단체-->
	D.SPONSOR_DETAIL, <!--모금액사용처-->
	D.CONTENT,
	DS.NAME AS status,
	D.CREATED_AT
FROM
	DONATIONS D
JOIN DONATION_STATUS DS ON
	D.DONATION_STATUS_IDX = DS.IDX
WHERE D.IDX= #{idx}
</select>

</mapper>