<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.animal.api.signup.mapper.SignupMapper">
    <!-- 1. ID 중복 확인 -->
    <select id="isDuplicateId" resultType="int">
        SELECT COUNT(*) FROM USERS WHERE ID = #{id}
    </select>

    <!-- 2. 이메일 중복 확인 -->
    <select id="isDuplicateEmail" resultType="int">
        SELECT COUNT(*) FROM USERS WHERE EMAIL = #{email}
    </select>

    <!-- 3. 닉네임 중복 확인 -->
    <select id="isDuplicateNickname" resultType="int">
        SELECT COUNT(*) FROM USERS WHERE NICKNAME = #{nickname}
    </select>  

    <!-- 4. 일반 사용자 회원가입 -->
    <insert id="insertUser" parameterType="com.animal.api.auth.model.vo.UserVO">
        INSERT INTO USERS (
            USER_TYPE_IDX, ID, EMAIL, PASSWORD,
            NAME, NICKNAME, BIRTH_DATE, GENDER, TEL,
            ZIP_CODE, ADDRESS, ADDRESS_DETAIL
        ) VALUES (
            #{userTypeIdx}, #{id}, #{email}, #{password},
            #{name}, #{nickname}, #{birthDate}, #{gender}, #{tel},
            #{zipCode}, #{address}, #{addressDetail}
        )
    </insert>  
  
</mapper>