<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.animal.api.admin.shelter.mapper.AdminShelterMapper">
<select id="getShelterJoinRequestList" resultType="com.animal.api.admin.shelter.model.response.ShelterJoinRequestListResponseDTO">
SELECT
	U.IDX,
	U.ID,
	U.EMAIL,
	U.PASSWORD,
	U.NICKNAME,
	ST.NAME AS 'SHELTER_TYPE',
	S.SHELTER_NAME,
	S.SHELTER_TEL,
	S.SHELTER_PERSON_NAME,
	S.SHELTER_ZIP_CODE,
	S.SHELTER_ADDRESS,
	S.SHELTER_ADDRESS_DETAIL,
	S.SHELTER_EMAIL,
	S.SHELTER_BUSINESS_NUMBER
FROM
	USERS U
JOIN SHELTERS S
ON
	U.IDX = S.USER_IDX
JOIN SHELTER_TYPES ST 
ON
	S.SHELTER_TYPE_IDX = ST.IDX
WHERE
	U.STATUS = 0
	AND U.USER_TYPE_IDX = 2
</select>
</mapper>