<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.animal.api.volunteers.mapper.UserVolunteersMapper">
	
<select id="getAllVolunteers" parameterType="com.animal.api.volunteers.model.response.AllVolunteersResponseDTO">
SELECT
	V.IDX,
	V.TITLE,
	V.VOLUNTEER_DATE,
	V.TIME,
	V.LOCATION,
	V.CAPACITY,
	V.APPLICANTS,
	V.CONTENT,
	V.AGE_TARGET,
	V.CREATED_AT,
	VT.NAME AS TYPE,
	VS.NAME AS STATUS,
	S.SHELTER_NAME AS SHELTER,
	ST.NAME AS shelterType
FROM
	VOLUNTEERS V
JOIN USERS U ON
	V.USER_IDX = U.IDX
JOIN SHELTERS S ON
	U.IDX = S.USER_IDX
JOIN SHELTER_TYPES ST ON 
	S.SHELTER_TYPE_IDX = ST.IDX
JOIN VOLUNTEER_TYPES VT ON
	V.VOLUNTEER_TYPE_IDX = VT.IDX
JOIN VOLUNTEER_STATUS VS ON
	V.VOLUNTEER_STATUS_IDX = VS.IDX
ORDER BY
	CASE
		VS.NAME
		WHEN '모집중' THEN 0
		WHEN '모집대기' THEN 1
		ELSE 2
	END,
	V.IDX DESC
LIMIT
#{listSize} OFFSET #{cp}
</select>

<select id = "getAllVolunteersTotalCnt" resultType="int">
SELECT
	COUNT(*)
FROM
	VOLUNTEERS
</select>

<select id="getVolunteersDetail" parameterType="int" resultType="com.animal.api.volunteers.model.response.AllVolunteersResponseDTO">
SELECT
	V.IDX,
	V.TITLE,
	V.VOLUNTEER_DATE,
	V.TIME,
	V.LOCATION,
	V.CAPACITY,
	V.APPLICANTS,
	V.CONTENT,
	V.AGE_TARGET,
	V.CREATED_AT,
	VT.NAME AS TYPE,
	VS.NAME AS STATUS,
	S.USER_IDX,
	S.SHELTER_NAME AS SHELTER,
	ST.NAME AS shelterType
FROM
	VOLUNTEERS V
JOIN USERS U ON
	V.USER_IDX = U.IDX
JOIN SHELTERS S ON
	V.USER_IDX = S.USER_IDX
JOIN SHELTER_TYPES ST ON
	S.SHELTER_TYPE_IDX = ST.IDX
JOIN VOLUNTEER_TYPES VT ON
	V.VOLUNTEER_TYPE_IDX = VT.IDX
JOIN VOLUNTEER_STATUS VS ON
	V.VOLUNTEER_STATUS_IDX = VS.IDX
WHERE
	V.IDX = ${idx}
</select>

<select id="searchVolunteers" parameterType="com.animal.api.volunteers.model.request.SearchVolunteerRequestDTO" resultType="com.animal.api.volunteers.model.response.AllVolunteersResponseDTO">
SELECT
	V.IDX,
	V.TITLE,
	V.VOLUNTEER_DATE,
	V.TIME,
	V.LOCATION,
	V.CAPACITY,
	V.APPLICANTS,
	V.CONTENT,
	V.AGE_TARGET,
	V.CREATED_AT,
	VT.NAME AS TYPE,
	VS.NAME AS STATUS,
	S.SHELTER_NAME AS SHELTER,
	ST.NAME AS shelterType
FROM
	VOLUNTEERS V
JOIN USERS U ON
	V.USER_IDX = U.IDX
JOIN SHELTERS S ON
	U.IDX = S.USER_IDX
JOIN SHELTER_TYPES ST ON 
	S.SHELTER_TYPE_IDX = ST.IDX
JOIN VOLUNTEER_TYPES VT ON
	V.VOLUNTEER_TYPE_IDX = VT.IDX
JOIN VOLUNTEER_STATUS VS ON
	V.VOLUNTEER_STATUS_IDX = VS.IDX
<where>
	<if test = "title != null and title !=''">
		AND V.TITLE LIKE '%${title}%'
	</if>
	<if test = "content != null and content != ''">
		AND V.CONTENT LIKE '%${content}%'
	</if>
	<if test="location != null and location !=''">
		AND V.LOCATION LIKE '%${location}%'
	</if>
	<if test="status != null and status !=''">
		AND VS.NAME = #{status}
	</if>
	<if test="shelter != null and shelter !=''">
		AND S.SHELTER_NAME = #{shelter}
	</if>
	<if test="shelterType !=null and shelterType !=''">
		AND ST.NAME = #{shelterType}
	</if>
	<if test = "volunteerDate !=null">
		AND DATE(V.VOLUNTEER_DATE) = #{volunteerDate}
	</if>
	<if test = "type != null and type != ''">
		AND VT.NAME = #{type}
	</if>
	<if test = "time != 0">
		AND V.TIME = #{time}
	</if>
</where>
ORDER BY
	CASE
		VS.NAME
		WHEN '모집중' THEN 0
		WHEN '모집대기' THEN 1
		ELSE 2
	END,
	V.IDX DESC
LIMIT
#{listSize} OFFSET #{cp}
</select>

<select id="getSearchVolunteerTotalcnt" parameterType="com.animal.api.volunteers.model.request.SearchVolunteerRequestDTO" resultType="int">
SELECT
	COUNT(*)
FROM
	VOLUNTEERS V
JOIN USERS U ON
	V.USER_IDX = U.IDX
JOIN SHELTERS S ON
	U.IDX = S.USER_IDX
JOIN SHELTER_TYPES ST ON 
	S.SHELTER_TYPE_IDX = ST.IDX
JOIN VOLUNTEER_TYPES VT ON
	V.VOLUNTEER_TYPE_IDX = VT.IDX
JOIN VOLUNTEER_STATUS VS ON
	V.VOLUNTEER_STATUS_IDX = VS.IDX
<where>
	<if test = "title != null and title !=''">
		AND V.TITLE LIKE '%${title}%'
	</if>
	<if test = "content != null and content != ''">
		AND V.CONTENT LIKE '%${content}%'
	</if>
	<if test="location != null and location !=''">
		AND V.LOCATION LIKE '%${location}%'
	</if>
	<if test="status != null and status !=''">
		AND VS.NAME = #{status}
	</if>
	<if test="shelter != null and shelter !=''">
		AND S.SHELTER_NAME = #{shelter}
	</if>
	<if test="shelterType !=null and shelterType !=''">
		AND ST.NAME = #{shelterType}
	</if>
	<if test = "volunteerDate !=null">
		AND V.VOLUNTEER_DATE = #{volunteerDate}
	</if>
	<if test = "type != null and type != ''">
		AND VT.NAME = #{type}
	</if>
	<if test = "time != 0">
		AND V.TIME = #{time}
	</if>
</where>
</select>

<select id = "checkSubmit" resultType="int">
SELECT 
	COUNT(*)
FROM 
	VOLUNTEER_REQUESTS
WHERE 
	USER_IDX = #{userIdx}
AND 
	VOLUNTEER_IDX = #{volunteerIdx}
</select>

<select id="getVolunteerStatus" parameterType="int" resultType="String">
SELECT
	VOLUNTEER_STATUS_IDX
FROM
	VOLUNTEERS
WHERE
	IDX = #{volunteerIdx}
</select>

<insert id="submitVolunteers" parameterType="com.animal.api.volunteers.model.request.VolunteersSubmitRequestDTO">
INSERT
	INTO
	VOLUNTEER_REQUESTS(
	VOLUNTEER_IDX,
	USER_IDX,
	VOLUNTEER_REQUEST_STATUS_IDX,
	TYPE,
	NAME,
	EMAIL,
	TEL,
	BIRTH_DATE,
	GROUP_NAME,
	GROUP_TEL,
	DESCRIPTION,
	MALE,
	FEMALE
)
VALUES(
	#{volunteerIdx},
	#{userIdx},
	1,
	#{type},
	#{name},
	#{email},
	#{tel},
	#{birthDate},
	#{groupName},
	#{groupTel},
	#{description},
	#{male},
	#{female}
)
</insert>

<update id="updateApplicants" parameterType="com.animal.api.volunteers.model.request.VolunteersSubmitRequestDTO">
UPDATE
	VOLUNTEERS
SET
	APPLICANTS = APPLICANTS + (
	#{male} + #{female})
WHERE
	IDX =
	#{volunteerIdx}
</update>

</mapper>